.id,
.pwd {
  position: relative;
}

.id input,
.pwd input {
  width: 300px;
  margin: 5px;
  padding: 12px 12px 12px 45px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 12px;
}

.loginIcon {
  width: 17px;
  margin: 0;
  color: black;
  position: absolute;
  top: 19px;
  left: 21px;
}

.loginBtn {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.lineBox {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.line {
  width: 115px;
  border-top: 1px solid #bbb;
}

.lineText {
  width: 70px;
  text-align: center;
  font-size: 14px;
}

.OAuth {
  width: 300px;
  height: 35px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  color: #a6a6a6;
  font-size: 15px;
}

.findPwd {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}